extends layout

block content
    h1= 'Give us your thougths about '+ name
    form(id='form', action='/comment/create/'+id, method='post')
        div.form-group
            label(for='comment') Comment
            input#comment.form-control(type='textarea', name='comment', required=true)
        div.form-group
            label classification:
            div
                for i in [1,2,3,4,5]
                    div(style='display: inline; padding-right:10px;')
                        label(for='classification') #{i}
                        input#classification.checkbox-input(type='checkbox', name='classification', value=i )
        button.btn.btn-primary(type='submit') Save Comment