extends layout

block content
    h1 Nuevo Cliente

    form(action='/user/create', method='post')
        div.form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name', required=true)

        div.form-group
            label(for='lastName') Last Name
            input#lastName.form-control(type='text', name='lastName', required=true)

        div.form-group
            label(for='email') email
            input#email.form-control(type='email', name='email', required=true)


        button.btn.btn-primary(type='submit') Save Client